@layout BlankLayout
@page "/"

<PageTitle>Login</PageTitle>

<div class="my-custom-container">
    <div class="login-background">
    </div>
    <div class="login-form-container align-self-center">
        <MudImage ObjectFit="ObjectFit.Cover" Height="150" Width="300" Src="/newbloomers.png" Style="margin-bottom: 2rem"/>
        <MudButton Href="/Empresas" StartIcon="@Icons.Custom.Brands.MicrosoftWindows" IconSize="Size.Large" Variant="Variant.Filled" Color="Color.Dark" Size="Size.Large" FullWidth="true">Entrar</MudButton>
    </div>
</div>

@code {

}
